* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --green: #4adf86;
}
body {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

.main-content {
    background-color: #ecfdf5;
    max-width: 75vw;
}
.main-wrapper {
    margin: 3em;
}
.heading {
    font-size: 2em;
}
.green-heading {
    color: var(--green);
}
.text-gray {
    color: grey;
    font-weight: lighter;
}
.filter-wrapper {
    display: flex;
    margin-top: 1.5em;
    align-items: center;
}
#generate-btn {
    font-size: 1.12em;
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color: var(--green);
    color: white;
    border-style: none;
    margin-top: 10px;
}
#generate-btn:active{
    transform: scale(.98,.98);
    transition: transform .01s ;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#num-renderer {
    background-color: #2f3e53;
    color: white;
    font-size: 1.12em;
    padding: 0.125em 0.3em;
    border: none;
    width: 50px;
}
#increment-btn{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#decrement-btn{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
#increment-btn, #decrement-btn{
    background-color: var(--green);
    border: 1px solid;
    padding: 0.125em 0.3em;
    font-size: 1.01em;
}
#increment-btn:active, #decrement-btn:active{
    transform: scale(.98,.98);
    transition: transform .01s ;
}
#has-numbers,
#has-symbols,
label {
    margin-left: 10px;
}
hr {
    margin-top: 1.5em;
    height: 2px;
    border-style: none;
    background-color: #2f3e53;
}
.result-sec{
    margin-top: 1.5em;
}
#copy-btn{
    margin-left: 10px;
    padding: .5em;
    background-color: var(--green);
    border-radius: 6px;
    border: none;
}
#copy-btn > svg:active{
    transform: scale(.9,.9);
    transition: transform .01s ;
}
#password-display {
    background-color: #273549;
    border-style: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.3em;
    width: 220px;
    color: var(--green);
}
@media screen and (max-width: 790px) {
    body {
        height: 90vh;
    }
    .main-content {
        max-width: 90vw;
    }
    .main-wrapper {
        margin: 1.35em;
    }
    .filter-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }
    .gnr-and-increment-btn {
        display: flex;
    }
    .num-and-symbol-wrapper {
        margin-top: 10px;
    }
    #has-numbers,
    #has-symbols,
    label {
        margin-left: 4px;
    }
}
